#yjzan-panel-category-element-pack .yjzan-element:hover .icon,#yjzan-panel-category-element-pack .yjzan-element:hover .title{color:#14ABF4}#yjzan-panel #yjzan-panel-header-title span.bdt-widget-badge:after,#yjzan-panel .yjzan-control-title span.bdt-widget-badge:after,#yjzan-panel .yjzan-section-title span.bdt-widget-badge:after{content:'EP';background-color:#fff;color:#d30c5c;font-size:10px;font-weight:700;border-radius:30px;padding:2px 3px;margin-right:4px;vertical-align:middle}#yjzan-panel .yjzan-control-title span.bdt-widget-badge:after,#yjzan-panel .yjzan-section-title span.bdt-widget-badge:after{background-color:#e0e6ec;color:#50565d}

.suspension{position:fixed;z-index:2;}
.suspension .suspension-box{position:relative}
.suspension .items{display:block;width:44px;height:44px;background-color:#353535;margin-bottom:2px;cursor:pointer;outline:0;text-align:center}
.suspension .items.active,.suspension .items:hover{background:#F05352}
.suspension .items .fa{font-size:20px;color:#fff;line-height:50px}
.suspension .suspension-box .in-box{min-width:100px;background:#fff;min-height:40px;border:1px solid #E0E1E5;border-radius:3px;box-shadow:2px 2px 5px 0 rgba(161,163,175,.5);padding:10px;font-size:12px}

.suspension .service-box{display:none;position:absolute;top:0;right:30px;padding-right:30px}
.suspension .service-box .in-box{min-width:150px;background:#fff;min-height:60px;border:1px solid #E0E1E5;border-radius:3px;box-shadow:2px 2px 5px 0 rgba(161,163,175,.5);padding:10px;font-size:12px;letter-spacing:1px;text-align:center}
.suspension .service-box .in-box .fa{font-size:16px;color:#fff}
.suspension .suspension-box .service-box:hover,.suspension .suspension-box .service:hover~.service-box{display:block}
.suspension .service-box .in-box .qqbt{background:#0e629a;color:#fff;padding:6px;text-decoration:none;margin-top:8px;margin-bottom:8px;display:block;border-radius:9px}
.suspension .service-box .in-box .title{font-size: 14px;line-height: 0px; padding: 0;margin: 10px 0px 20px 0px;}

.suspension .phone-box{display:none;position:absolute;top:40px;right:30px;padding-right:30px}
.suspension .phone-box .in-box{min-width:220px;min-height:20px}
.suspension .suspension-box .phone-box:hover,.suspension .suspension-box .phone:hover~.phone-box{display:block}

.suspension .qrcode-box{display:none;position:absolute;top:80px;right:30px;padding-right:30px}
.suspension .suspension-box .qrcode-box:hover,.suspension .suspension-box .qrcode:hover~.qrcode-box{display:block}
.suspension .qrcode-box .in-box {min-width:160px}
.suspension .qrcode-box .in-box h3{font-size:13px;text-align:center;line-height:0}